# Node modules
assettracer-frontend/node_modules/
assetTracer-backend/node_modules/

# Environment
assetTracer-backend/.env
assettracer-frontend/.env

# Build files
assettracer-frontend/.next/
assettracer-frontend/out/
